[instance_journal]
module=journal

[instance_mqtt_client_journal]
module=mqttclient
senders=instance_journal
mqtt_discard_on_connect_retry=yes
mqtt_publish_rrr_message=yes
mqtt_connect_error_action=retry
mqtt_qos=1
mqtt_server=%postian-conf/mqtt-central%

[instance_dummy]
module=dummy
dummy_no_generation=no
dummy_sleep_interval_us=500000
dummy_topic=lbs/alive

[instance_mqtt_client_local]
module=mqttclient
senders=instance_dummy
mqtt_connect_error_action=retry
mqtt_receive_rrr_message=yes
mqtt_publish_rrr_message=no
mqtt_qos=2
mqtt_subscribe_topics=lpserver,palletmani,itemmani,lbs/labelprint
mqtt_server=%lbs-conf/lbs-mqtt-local%

[instance_ipclient_server]
module=ipclient
ipclient_client_number=1
ipclient_listen=yes

# Allow any typical suffix (CRLF, LF, CR, ETX etc.)
# ASCII CANCEL coming from ITO scanners is read into barcode field
{SCANNER}
be1#ignore
IF ( {ignore} == 10 )
	REWIND1
	be1
	;
ELSE
	REWIND1
	;
nsep#barcode,sep1
;

[instance_ip_scanner]
module=ip
senders=instance_perl5_enricher
topic_filter=lbs/ip/response
ip_udp_port=2000
ip_input_types={SCANNER}
ip_array_send_tags=response
ip_timeout_action=drop
ip_send_timeout=5

{WEIGHT}
be1#reading_prefix
IF ( {reading_prefix} != 2 AND {reading_prefix} != 83 )
	err
	;
nsep#reading,sep2#reading_postfix
;

[instance_ip_weight]
module=ip
ip_udp_port=2001
ip_input_types={WEIGHT}
ip_sync_byte_by_byte=yes

[instance_mangler_weight]
module=mangler
senders=instance_ip_weight
mangler_conversions=hchar2str

[instance_socket]
module=socket
socket_path=/tmp/lbs-client.sock
socket_receive_rrr_message=yes
socket_unlink_if_exists=yes

[instance_http_server]
module=httpserver
http_server_port_plain=8000
http_server_fields_accept_any=yes
http_server_allow_origin_header=*

[instance_buffer_request]
module=buffer
duplicate=yes
senders=instance_mqtt_client_local,instance_ipclient_server,instance_ip_scanner,instance_mangler_weight,instance_socket,instance_http_server,instance_mqtt_aths_lb_lookup_request

[instance_perl5_enricher]
module=perl5
senders=instance_buffer_request,instance_httpclient_api,instance_incrementer_id,instance_incrementer_quotient_counter
duplicate=yes
backstop=no
perl5_file=/usr/share/lbs-client/lbs-enricher.pl
perl5_source_sub=source
perl5_process_sub=process
perl5_config_sub=config
perl5_drop_on_error=yes
perl5_source_interval_ms=2
lbs_fake_hostname=%lbs-conf/lbs-client-name%
lbs_weight_timeout=5
lbs_twostep_timeout=10
lbs_reprint_request_timeout=10
lbs_enrichment_timeout=10
lbs_topic_aths_lb_lookup_request=lbs/aths/lb_lookup_request
lbs_topic_aths_lb_lookup_response=lbs/aths/lb_lookup_response
lbs_topic_push=lbs/push
lbs_topic_beep=lbs/beep
lbs_topic_ip_response=lbs/ip/response
lbs_topic_print=lbs/print
lbs_topic_incrementer_id_prefix=lbs/incrementer
lbs_tag_incrementer_id_serial=serial
lbs_topic_incrementer_quotient_counter_prefix=lbs/quotient-counter
lbs_print_copies=%lbs-client/lbs-print-copies%
lbs_print_failover=%lbs-client/lbs-print-failover%
lbs_print_disable=no
lbs_printer_ip_force=none

[instance_msgdb_quotient_counter]
module=msgdb
msgdb_socket=/var/run/rrr/lbs-msgdb-quotient-counter.sock
msgdb_directory=/var/lib/rrr/lbs-msgdb-quotient-counter

[instance_incrementer_quotient_counter]
module=incrementer
senders=instance_perl5_enricher
topic_filter=lbs/quotient-counter/#
incrementer_subject_topic_filter=lbs/quotient-counter/#
incrementer_msgdb_socket=/var/run/rrr/lbs-msgdb-quotient-counter.sock

[instance_msgdb_id]
module=msgdb
msgdb_socket=/var/run/rrr/lbs-msgdb-id.sock
msgdb_directory=/var/lib/rrr/lbs-msgdb-id

[instance_incrementer_id]
module=incrementer
senders=instance_perl5_enricher
topic_filter=lbs/incrementer/#
incrementer_subject_topic_filter=lbs/incrementer/#
incrementer_msgdb_socket=/var/run/rrr/lbs-msgdb-id.sock
incrementer_id_tag=serial
incrementer_id_min=1
incrementer_id_max=9999999
incrementer_id_modulus=%lbs-client/lbs-serial-modulus%
incrementer_id_position=%lbs-client/lbs-serial-position%

[instance_httpclient_api]
module=httpclient
senders=instance_perl5_enricher
topic_filter=lbs/api/#
http_server=%lbs-conf/lbs-worker%
http_port=8080
http_plain_http2=yes
http_response_max_mb=64
http_endpoint_from_topic=yes
http_endpoint_from_topic_force=yes
http_method_tag=http_method
http_method=GET
http_format=json
http_receive_json_data=yes
http_message_timeout_ms=3000
http_drop_on_error=yes
http_concurrent_connections=10

[instance_perl5_print]
module=perl5
senders=instance_perl5_enricher,instance_ip_printer
backstop=no
duplicate=yes
topic_filter=lbs/print
perl5_file=/usr/share/lbs-client/lbs-print.pl
perl5_process_sub=process
perl5_config_sub=config
perl5_drop_on_error=yes

[instance_ip_printer]
module=ip
senders=instance_perl5_print
ip_array_send_tags=response
ip_timeout_action=return
ip_send_timeout=%lbs-client/lbs-print-timeout%
ip_preserve_order=yes
ip_send_multiple_per_connection=yes
ip_smart_timeout=yes
ip_graylist_timeout_ms=500
ip_persistent_timeout_ms=5000
ip_close_grace_ms=5

[instance_mqtt_aths_lb_lookup_request]
module=mqttclient
senders=instance_perl5_enricher
topic_filter=lbs/aths/lb_lookup_request
mqtt_connect_error_action=retry
mqtt_publish_rrr_message=yes
mqtt_receive_rrr_message=yes
mqtt_receive_publish_topic=yes
mqtt_qos=1
mqtt_subscribe_topics=lbs/aths/lb_lookup_response/#
mqtt_server=%postian-conf/mqtt-central%

[instance_perl5_push]
module=perl5
senders=instance_perl5_enricher,instance_httpserver_push
# Note : Topic filter in process sub
perl5_file=/usr/share/lbs-client/lbs-push.pl
perl5_source_sub=source
perl5_process_sub=process
perl5_source_interval_ms=100
perl5_config_sub=config
perl5_drop_on_error=yes
lbs_topic_push=lbs/push

[instance_httpserver_push]
module=httpserver
senders=instance_perl5_push
http_server_port_plain=8001
http_server_fields_accept=port
http_server_get_response_from_senders=yes
http_server_response_timeout_ms=15000
http_server_allow_origin_header=*

[instance_perl5_websocket]
module=perl5
senders=instance_buffer_request,instance_httpserver_websocket,instance_perl5_enricher
# Note : Topic filter in process sub
perl5_file=/usr/share/lbs-client/lbs-websocket.pl
perl5_source_sub=source
perl5_process_sub=process
perl5_source_interval_ms=100
perl5_config_sub=config
perl5_drop_on_error=yes

[instance_httpserver_websocket]
module=httpserver
senders=instance_perl5_websocket
http_server_websocket_topic_filters=#
http_server_port_plain=8002
http_server_allow_origin_header=*

[instance_perl5_beep]
module=perl5
senders=instance_perl5_enricher
# Note : Topic filter in process sub
perl5_file=/usr/share/lbs-client/lbs-beep.pl
perl5_process_sub=process
perl5_config_sub=config
perl5_drop_on_error=yes
lbs_topic_beep=lbs/beep

[instance_mqtt_client_local_beep]
module=mqttclient
senders=instance_perl5_beep
mqtt_connect_error_action=retry
mqtt_publish_rrr_message=yes
mqtt_qos=2
mqtt_server=%lbs-conf/lbs-mqtt-local%
